*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$s: rgb(60, 60, 104);


body {
  font-family: 'Poppins', sans-serif;
  background-color: $s;
  height: 100vh;
  
}

.img-container {
  width: 60%;
  height: 30em;
  overflow: hidden;
  margin: 10em auto;
  position: relative;
}

.content {
  width: 100%;
  background: rgb(81, 81, 143);
  transform: translateY(0);
  transition: transform 1s ease-in-out;
}

.content:hover {
  transform: translateY(-430px);
}

.section {
  padding: 4em 8em;
}